@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
$dark-gray:#34323f;
$gray :#817D92;
$Almost-white:#E6E5EA;
$Very-dark-gray:#18171F;
$Neon-Green:#A4FFAF;
$Red:#F64A4A;
$Orange:#FB7C58;
$Yellow:#F8CD65;
@mixin flex($dir: column, $align: center, $just:center) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $just;
}
*{
    box-sizing: border-box;
    font-family:  "JetBrains Mono";
}
body, html {
    padding:0;
    margin:0;
    height:100vh;
    width: 100vw;
    ;
}
.root {
    width:100vw;
    height:100vh;
}
.App {
    background-color: $Very-dark-gray;
    @include flex();
    width:100%;
    height: 100vh;
    color:white;
    #Generator {
        @include flex();
        .conditions {
            list-style: none;
            padding:0 20px;
            width: 100%;;
            input {
                border:none;
                border-radius: 0;
                appearance: none;
                border: 1px solid white;
                width: 15px;
                height: 15px;
                &:checked {
                    border: 0;
                    background-color: $Neon-Green;
                }
            }
            .condition {
                @include flex(row , center,flex-start);
                font-size: 15px;;
                margin: 0;
            }
        }
    }
}
.Bars {
    .Bar {

    }
    .bar_fill {
        border: none !important;
    }
    .strength_1, .strength_0 {
        background-color: $Red !important;
    }
    .strength_2 {
        background-color: $Orange !important;
    }
    .strength_3 {
        background-color: $Yellow !important;
    }
    .strength_4 {
        background-color: $Neon-Green !important;
    }
}
#Gen_panel {
    max-width: 614px;
    // background-color: $dark-gray;
    width:80vw;
    padding: 30px 0px;
    .password {
        @include flex(row, center,space-between);
        margin-bottom: 20px;;
        padding: 30px !important;
        p {
            max-width: 400px;
            word-wrap: break-word;
        }
        svg {
            font-size:30px;
            color:$Neon-Green;
        }
    }
    .indicators , .password{
        background-color: $dark-gray;
        width:100%;
        padding:20px 0;
    }
    .indicators {
        @include flex();
        justify-content: flex-start;
        width: 100%;
        ;
        height: 81%;
        gap:20px;
    }
    .Strength, .Strength_bar , .Bars{
        @include flex(row, center, center);

    }
    .Strength, .Strength_bar {
        h3 {
            font-size: 12px;
            margin:0;
        }
    }
    .Strength{
        background-color: $Very-dark-gray;
        width: 92%;
        height:70px;
        justify-content: space-between;
        padding: 0 20px;
        .Strength_bar {
            gap:10px;
            height:40px;
        }
        .Bars {
            gap:5px;
            height:100%;
            .Bar {
                height:100%;
                width:13px;
                border: 1px solid white;
            }
        }
    }
    
    .pass_length {
        @include flex();
        width: 100%;
        height:10%;
        padding: 0 20px;
        .length_header {
            @include flex(row, center, space-between);
            width: 100%;;
            p {
                &:nth-child(2) {
                    color: $Neon-Green;
                }
            }
        }
        input[type='range'] {
            appearance: none;
            background-color: $Very-dark-gray;
            width: 100%;
            &::-webkit-slider-thumb {
                appearance: none;
                background-color: white;
                width:20px;
                height: 20px;
                border-radius: 100%;;
                
            }
            
            
        }
    }
    #Generate_btn {
        border:none;
        background-color: $Neon-Green;
        width:90%;
        height:50px;
    }
}
.css-eg0mwd-MuiSlider-thumb {
    border: 0;
    background-color: white;
    transition: border 0.4s ease;
}
.css-1gv0vcd-MuiSlider-track {
    color:$Neon-Green
}
.css-eg0mwd-MuiSlider-thumb:hover, .css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
    
    box-shadow: none;
    border: 3px solid white;
    background: $Very-dark-gray;
    transition: border 0.4s ease;
}
@media (min-width: 1024px) {
    #Gen_panel {
        .password {
            p  {
                
                font-size: 32px;
                margin:0;
            }
        }
        svg {
            transition: color ease 0.4s;
            &:hover{
                cursor: pointer;
                color: $Almost-white;
                transition: color ease 0.4s;
            }
        }
        #Generate_btn {
            transition: background-color ease 0.4s, color ease 0.4s ;
            &:hover {
                border: 1px solid $Neon-Green;
                background-color: transparent;
                cursor: pointer;
                color: $Neon-Green;
                transition: background-color ease 0.4s, color ease 0.4s;
            }
        }
    }
}