@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");
/*
    This styling page contains styles that exists in all page or component that exists
    in all pages (Like nav) 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  font-weight: 300;
}

body, html {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #10141E;
}

.App {
  height: 100vh;
}

#Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 16vh;
  padding: 0 10px;
  background-color: #161D2F;
}
#Header #Nav ul {
  padding: 0;
}
#Header #Nav .link {
  display: inline-block;
  margin-right: 10px;
}
#Header #UserProfile {
  background: url(../assets/image-avatar.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

#SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#SearchBar input {
  border-bottom: none;
  margin: 0;
  height: 50px;
}
#SearchBar .form_group {
  width: 80%;
}
#SearchBar img {
  width: 20px;
  height: auto;
}

#ContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  gap: 30px;
}

#Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
}

.Medias_Component {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 90vw;
}
.Medias_Component .Image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.Medias_Component .cate {
  font-size: 12px;
  font-weight: 700;
}
.Medias_Component .Overview {
  font-size: 12px;
  text-align: left;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.Medias_Component .Overview::before {
  content: "";
  position: absolute;
  background: linear-gradient(0deg, #10141e, transparent);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Medias_Component .Title {
  font-size: 18px;
  text-align: left;
  font-size: 18px;
}
.Medias_Component .utiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Medias_Component .Bookmark {
  position: static;
  background-color: transparent;
}
.Medias_Component .detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}
.Medias_Component .detail::after {
  content: "expand";
  position: absolute;
  top: 100px;
  left: 80%;
}
.Medias_Component .Watch_btn {
  border: none;
  background-color: transparent;
  border-bottom: 1.5px solid #FC4747;
  color: white;
  font-size: 18px;
}

#SearchResults {
  height: 100vh;
  width: 100vw;
  color: white;
}
#SearchResults .Results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.EmptyImage {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #222a3f;
}
.EmptyImage .Image {
  height: 0;
}

@media (min-width: 375px) {
  #SearchBar {
    gap: 10px;
  }
  .Medias .Title {
    word-wrap: break-word;
    width: 163px;
    text-align: left;
  }
}
@media (min-width: 700px) {
  #Header {
    height: 10vh;
  }
  #Header #Nav .Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #Header #Nav .link {
    margin-right: 0px;
  }
  #Header #Nav img {
    width: 24px;
  }
  #SearchBar {
    justify-content: flex-start;
    padding-left: 20px;
  }
  #SearchBar input {
    height: 68px;
  }
  #SearchResults .Results {
    flex-direction: row;
    justify-content: flex-start;
    row-gap: 20px;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  #Content {
    margin-left: 16px;
  }
  .Medias_Component {
    width: 30vw;
    gap: 20px;
  }
  .Medias_Component .Overview {
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  #Content {
    margin-left: 60px;
  }
}
@media (min-width: 1024px) {
  #Content {
    height: 100vh;
    justify-content: flex-start;
    margin-left: 86px;
    padding-top: 60px;
  }
  #ContentContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .Medias_Component {
    flex-direction: row;
    width: 41vw;
  }
  .Medias_Component .Image {
    width: 50%;
    max-width: 200px;
    height: 280px;
  }
  .Medias_Component .media_content {
    width: 50%;
  }
  #Header {
    position: fixed;
    z-index: 1;
    height: 90vh;
  }
  .App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-left: 40px;
  }
  #Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    height: 94vh;
    width: 6vw;
    border-radius: 10px;
  }
  #Header #Nav .Links {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .Medias .Title {
    max-width: 200px;
    text-align: left;
  }
  .Medias_Component {
    width: 27vw;
  }
  #Content {
    margin-left: 110px;
  }
}
@media (min-width: 1500px) {
  #Content {
    margin-left: 130px;
  }
}
@media (min-width: 1900px) {
  #Header {
    width: 3vw;
  }
  .Medias_Component {
    width: 17vw;
  }
}/*# sourceMappingURL=Global.css.map */