@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");
/*
    This styling page contains styles that exists in all page or component that exists
    in all pages (Like nav) 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  font-weight: 300;
}

body, html {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #10141E;
}

.App {
  height: 100vh;
}

#Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 10px;
  background-color: #161D2F;
}
#Header #Nav ul {
  padding: 0;
}
#Header #Nav .link {
  display: inline-block;
  margin-right: 10px;
}
#Header #UserProfile {
  background: url(../assets/image-avatar.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

#SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#SearchBar input {
  border-bottom: none;
  margin: 0;
  height: 50px;
}
#SearchBar .form_group {
  width: 80%;
}
#SearchBar img {
  width: 20px;
  height: auto;
}

@media (min-width: 375px) {
  #SearchBar {
    gap: 10px;
  }
  .Medias .Title {
    word-wrap: break-word;
    width: 163px;
    text-align: left;
  }
}
@media (min-width: 700px) {
  #Header #Nav .Links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #Header #Nav .link {
    margin-right: 0px;
  }
  #Header #Nav img {
    width: 24px;
  }
  #SearchBar {
    justify-content: flex-start;
    padding-left: 20px;
  }
  #SearchBar input {
    height: 68px;
  }
}
@media (min-width: 1024px) {
  #Header {
    position: fixed;
    z-index: 1;
  }
  .App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    margin-left: 40px;
  }
  #Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    height: 94vh;
    width: 6vw;
    border-radius: 10px;
  }
  #Header #Nav .Links {
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .Medias .Title {
    max-width: 200px;
    text-align: left;
  }
}
#Trending_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Trending_container .scroller {
  width: 100vw;
  overflow-x: scroll;
}
#Trending_container .media_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  gap: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}

#Trending_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 74px;
}
#Trending_container h2 {
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
}

.cate-icon {
  margin-right: 5px;
}

.Bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  left: 84%;
  z-index: 1;
  width: 36px;
  height: 36px;
  background-color: #161D2F;
  opacity: 0.5;
  border-radius: 100%;
}
.Bookmark img {
  width: 15px;
  height: auto;
}

.sub_type, .sub_caption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.sub_caption {
  color: white;
  opacity: 0.75;
}

.TrendingMedia {
  border-radius: 8px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.TrendingMedia .thumbnail {
  position: relative;
  z-index: 0;
  width: 500px;
  height: auto;
}
.TrendingMedia .img_wrap {
  width: 94vw;
  height: 179px;
  overflow: hidden;
  border-radius: 10px;
}
.TrendingMedia .Captions {
  color: white;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 30px;
}
.TrendingMedia .Captions .Trending_title {
  font-size: 20px;
  font-weight: 500;
}

#FY_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  color: white;
}
#FY_container .scroller {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  gap: 50px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
}
#FY_container h2 {
  padding-left: 10px;
}
#FY_container .scroller {
  flex-wrap: wrap;
}
#FY_container .image_wrap {
  position: relative;
  width: 94vw;
  border-radius: 10px;
  overflow: hidden;
}
#FY_container .Bookmark img {
  width: 13px;
  height: auto;
}
#FY_container .thumbnail {
  width: 100%;
  height: auto;
}
#FY_container .Movie_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#FY_container .sub_caption {
  align-items: flex-start;
}
@media (min-width: 375px) {
  .Bookmark {
    left: 76%;
  }
  .TrendingMedia .Bookmark {
    left: 300px;
  }
  #FY_container .image_wrap {
    width: 172px;
  }
  #FY_container .scroller {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (min-width: 700px) {
  #Home {
    width: 100vw;
  }
  #Trending_container h2, #Trending_container .scroller, #FY_container .scroller, #FY_container h2 {
    padding-left: 22px;
  }
  #FY_container .image_wrap {
    width: 234px;
  }
  .TrendingMedia .img_wrap {
    width: 470px;
  }
  .TrendingMedia .Bookmark {
    left: 412px;
  }
  .Medias .image_wrap {
    width: 241px;
  }
  .Medias .Bookmark {
    left: 80%;
  }
  .Medias .Title {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
  }
  .Medias .sub_caption {
    font-weight: ligther;
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  #FY_container, #Trending_container {
    width: 100vw;
  }
  #Home {
    width: 100vw;
    height: 90vh;
    position: relative;
    left: 70px;
  }
  #container {
    width: 100%;
    height: 100%;
  }
  #FY_container .image_wrap {
    width: 271px;
  }
  #FY_container .scroller {
    width: -moz-fit-content;
    width: fit-content;
    -moz-column-gap: 71px;
         column-gap: 71px;
  }
}
@media (min-width: 1440px) {
  #FY_container .image_wrap {
    width: 296px;
  }
  #FY_container .scroller {
    -moz-column-gap: 98px;
         column-gap: 98px;
  }
  #container {
    justify-content: flex-start;
    padding-top: 20px;
  }
}
@media (min-width: 1500px) {
  #Home {
    width: 100vw;
    height: 100vh;
    left: 106px;
  }
  .TrendingMedia {
    width: 477px;
    height: 464px;
    overflow: hidden;
  }
  .TrendingMedia:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
  }
  .TrendingMedia .img_wrap {
    width: 100%;
    height: 100%;
  }
  .TrendingMedia .Bookmark {
    left: 87%;
  }
  .TrendingMedia .Captions {
    top: 76%;
  }
  #FY_container .scroller {
    padding-left: 65px;
    -moz-column-gap: 39px;
         column-gap: 39px;
  }
  #FY_container .image_wrap {
    width: 280px;
  }
}/*# sourceMappingURL=Home.css.map */