@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
* {
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}

body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#root {
  width: 100vw;
  height: 100vh;
}

.App {
  background-color: #18171F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}
.App #Generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App #Generator .conditions {
  list-style: none;
  padding: 0 20px;
  width: 100%;
}
.App #Generator .conditions input {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid white;
  width: 15px;
  height: 15px;
  position: relative;
}
.App #Generator .conditions input:checked {
  border: 0;
  background-color: #A4FFAF;
}
.App #Generator .conditions input:checked::before {
  content: url("../.././../starter-code/assets/images/icon-check.svg");
  position: absolute;
  top: 0;
  left: 0;
}
.App #Generator .conditions .condition {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
  gap: 10px;
  margin: 0;
}
.App #Generator .conditions .condition p {
  text-align: left;
}

.Bars .bar_fill {
  border: none !important;
}
.Bars .strength_1, .Bars .strength_0 {
  background-color: #F64A4A !important;
}
.Bars .strength_2 {
  background-color: #FB7C58 !important;
}
.Bars .strength_3 {
  background-color: #F8CD65 !important;
}
.Bars .strength_4 {
  background-color: #A4FFAF !important;
}

#Gen_panel {
  max-width: 614px;
  width: 80vw;
  padding: 30px 0px;
}
#Gen_panel .password {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 30px !important;
}
#Gen_panel .password p {
  color: #E6E5EA;
  max-width: 140px;
  opacity: 0.25;
  margin: 0;
  font-size: 15px;
  word-wrap: break-word;
}
#Gen_panel .password svg {
  font-size: 20px;
  cursor: pointer;
  color: #A4FFAF;
}
#Gen_panel .password .highlighted {
  opacity: 1;
}
#Gen_panel .password .overflowed_pass {
  font-size: 16px;
  word-wrap: break-word;
}
#Gen_panel .password #copy_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
#Gen_panel .password #copy_wrap p {
  font-size: 15px;
  color: #A4FFAF;
  opacity: 1;
  visibility: hidden;
}
#Gen_panel .password #copy_wrap .visibleText {
  visibility: visible !important;
}
#Gen_panel .indicators, #Gen_panel .password {
  background-color: #34323f;
  width: 100%;
  padding: 20px 0;
}
#Gen_panel .indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 100%;
  height: 81%;
  gap: 20px;
}
#Gen_panel .Strength, #Gen_panel .Strength_bar, #Gen_panel .Bars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#Gen_panel .Strength h3, #Gen_panel .Strength_bar h3 {
  font-size: 12px;
  margin: 0;
}
#Gen_panel .Strength {
  background-color: #18171F;
  width: 92%;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
}
#Gen_panel .Strength .Strength_bar {
  gap: 10px;
  height: 40px;
}
#Gen_panel .Strength .Bars {
  gap: 5px;
  height: 100%;
}
#Gen_panel .Strength .Bars .Bar {
  height: 100%;
  width: 13px;
  border: 1px solid white;
}
#Gen_panel .pass_length {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding: 0 20px;
}
#Gen_panel .pass_length .length_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#Gen_panel .pass_length input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #18171F;
  width: 100%;
}
#Gen_panel .pass_length input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
#Gen_panel #Generate_btn {
  border: none;
  background-color: #A4FFAF;
  width: 90%;
  height: 50px;
}

.css-eg0mwd-MuiSlider-thumb {
  border: 0;
  background-color: white;
  transition: border 0.4s ease;
}

.css-1gv0vcd-MuiSlider-track {
  color: #A4FFAF;
}

.css-eg0mwd-MuiSlider-thumb:hover, .css-eg0mwd-MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
  border: 3px solid white;
  background: #18171F;
  transition: border 0.4s ease;
}

@media (min-width: 1024px) {
  .App {
    height: 100vh;
  }
  #Gen_panel .password p {
    max-width: 400px;
    font-size: 32px;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */