@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');
$black :#151515;
$Green: #4EE1A0;
$LightBlack:#242424;
$Grey:#D9D9D9;
@mixin flex($dir: column, $align: center, $justify: center) {
    display:flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}
*{
    box-sizing: border-box;
    font-family: "Space Grotesk";
}
html, body {
    height:100vh;
    width: 100vw;
    margin:0;
    padding:0;
}
body {
    background-color: $black;
    color:white;
    overflow-x: hidden;
}
.socials {
    list-style: none;
    padding: 0;
    .Link {
        display:inline;
        margin-right:20px;
    }
}
header {
    @include flex()
    
}
.btn {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $Green;
    color:white;
    height:40px;
    text-transform: uppercase;
    letter-spacing: 2.286px;;
    font-size: 16px;;
    cursor: pointer;
    &:hover {
        color:$Green;
        
    }
}
.container {
    @include flex();
    max-width: 80%;;
}
.bg {
    position:absolute;
    z-index: 0;
}
.r-1 {
    left: -380px;
}
.r-2 {
    top: 1042px;
  right: -420px;
}
.r-3 {
    left: -189px;
  width: 260px;
  height: 130px;
  top: 340px;
}
main section {
    position: relative;
    z-index: 1;
}
.circle {
    top: 300px;
  right: -76px;
}
#Hero {
    @include flex();
    min-height:100vh;
    gap:20px;
    height:fit-content;
    width:100%;
    img {
        width:130px;
        height:auto;
    }
    .headLine , .hero_content{
        @include flex();

        h1 {
            font-size: 23px;;
            text-align: center;
            .underline {
                text-decoration: underline;
                text-decoration-color: $Green;
            }
        }
        p {
            text-align: center;
            font-weight: 500;
            margin:0;
        }
    }
    .skills {
        @include flex() ;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        gap:20px;
        .skill {
            @include flex();
        }
        .skill p {
            font-weight: 300;
            margin:0;
            font-size:16px;;
        }
        h3 {
            font-size: 32px;
            margin:0;
        }
    }
}
#Projects { 
    @include flex();
    width: 100%;
    height: fit-content;
    .Project_header {
        @include flex(row , center ,space-between);
        width:80vw;

    }
    #Project_container, .project {
        @include flex();
    }
    #Project_container{
        gap:20px;
    }
    .img_wrap {
        width: 333px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        .desktop_projectLink {
            display:none;
        }
    }
    .project {
        gap:10px;
        .links_to_project {
            @include flex(row, center,center);
            gap:10px;
            .btn {

                text-transform: uppercase;
            }
        }
        .content {
            @include flex(column, flex-start, center);
            width: 80%;
        }
        h3 {
            text-transform: uppercase;
            margin:0;
        }
        ul {
            width:100%;
            padding:0;
            list-style: none;
            li {
                display:  inline;
                font-weight: 300;
            }
        }
    }
    .DP {
        background-image: url(./assets/images/thumbnail-project-1-small.webp);
    }
    .EL {
        background-image: url(./assets/images/thumbnail-project-2-small.webp);
    }
    .EW {
        background-image: url(./assets/images/thumbnail-project-3-small.webp);
    }
    .MG {

        background-image: url(./assets/images/thumbnail-project-4-small.webp);
    }
    .TW {
        background-image: url(./assets/images/thumbnail-project-5-small.webp);
    }
    .AG {
        background-image: url(./assets/images/thumbnail-project-6-small.webp);
    }
}
#Contact {
    .container {
        width:100vw;
    
    }
    background-color: $LightBlack;
    padding:0;
    @include flex();
    min-height: 100vh;
}
.contact_wrapper {
    @include flex();
    height:70vh;
    width:100%;
    #contact_title {
        @include flex();
        h2 {
            font-size:40px;
            margin:0;
        }
        p {
            font-size: 14px;;
            text-align: center;
            color: $Grey;
            margin:0;

        }
    }
    form {
        @include flex(column, flex-start, center);
        width: 90%;
        .btn {
            align-self: flex-end;
        }
    }
    .form_group {
        // @include flex();
        width:100%;
        input , textarea{
            width: 100%;
            background-color: transparent;
            border:none;
            border-bottom: 1px solid white;
            &::placeholder {
                color: $Grey;
            }
        }
        input {
            height:50px;
        }
    }
    border-bottom: 1px solid white;
    
}
#Footer {
    @include flex();
    height:15vh;
    width: 100%;;
}
@media(min-width: 768px) {
    .r-3 {
        left: -153px;
        width: 348px;
        height: 157px;
        top: 650px;
    
    }
    h2 {
        font-size: 72px !important;
    }
    #Hero {
        gap: 93px;
        .headLine {
            img {
                width: 342px;
                order:2;
                position: absolute;
                top: -382px;
                left: 507px;
            }
            .hero_content {
                width: 70%;
                position: relative;
                left: -100px;
              
            }
            @include flex(row, center, center);
            p {
                text-align: left;
            }
            h1 {
                margin:0;
                font-size:72px;
                text-align: left;
            }
        }
        .skills {
            // @include flex(row, center, flex-start);
            // flex-wrap:wrap;
            // gap: 140px;
            // row-gap: 65px;
            padding-top:50px;
            width:95%;
            display:grid ;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 25% 25%;
            border-bottom: none;
            row-gap: 62px;
            .skill {
                align-items: start;
                padding-left:20px;
                h3 {
                    font-size: 48px;

                }
            }
        }
    }
    #Projects {
        .Project_header {
            width: 100%;
            h2 {
                font-size: 72px;
            }
        }
        #Project_container {
            @include flex(row, center,center);
            flex-wrap: wrap;
            .project{
                width:48%;
            }
        }
        margin-bottom: 50px;;
    }
    #Contact {
        .contact_wrapper {
            height:81vh;
        }
        form {
            gap:20px;
            width:445px;
            input {
                height:43px;
                &::placeholder {
                    font-size: 16px;;
                }
            }
            
            textarea {
                height: 107px;
            }
        }
    }
    #contact_title {
        p {
            line-height: 28px;;
            font-size:18px;
            width: 345px;
        }
    }
    #Footer, header {
        @include flex(row ,center, space-between);
        padding: 0 20px;
        .logo {
            font-size: 32px;
        }
    }
}

@media(min-width: 1280px) {
    #Hero, #Projects, #Contact, header{
        padding: 0 100px;
        
    }
    .circle {
        top: 666px;
        right: 379px;
        z-index: 2;
    }
    .r-1 {
        left: 33px;
        top: 301px;
        width: 291px;
        height: 100px;
    }
    h2 {
        font-size:88px !important;
    }
    body {
    }
    #Hero {
        .headLine {
            img {
                position: relative;
                top: 0;
                left:0;
            }
            p {
                width: 80%;
                font-size:18px;

            }
            .hero_content {
                width: 75%;
                left: 0;
            }
        }
        .hero_content {
            align-items: flex-start;
        }
        .skills {
            justify-content: space-between;
            width: 100%;
            grid-template-columns: auto auto auto;
            grid-template-rows: 50% 50%;
            column-gap: 182px;;
            .skill {
                width:fit-content;
            }
        }
    }
    section {
        // padding: 0 50px;
    }
    #Contact {
        // padding:0;
        .contact_wrapper {
            @include flex(row,center ,space-between );
            #contact_title {
                p {
                    font-size: 18px;
                    text-align: left;
                }
            }
        }
    }
    #Projects {
        #Project_container {
            justify-content: space-between;
            padding:0 ;
            .links_to_project {
                display: none;
            }
            .project {
                .content {
                    width:100%;
                    h3 {
                        font-size:24px;
                    }
                    ul {
                        font-size:18px;
                        li {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .img_wrap {
            width: 421px;
            height: 313px;
            position: relative;
            .desktop_projectLink {
                @include flex();
                width:100%;
                height:100%;
                position:relative;
                z-index: 2;
                opacity: 0;
                transition: opacity ease 0.5s;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: #000;
                opacity: 0;
                width:100%;
                height:100%;
                z-index: 1;
                transition: opacity ease 0.4s;
            }
            &:hover {
                .desktop_projectLink {
                    opacity: 1;
                    transition: opacity ease 0.5s;
                }
                &::after {
                    opacity: 0.75;
                    transition: opacity ease 0.4s;
                    
                }
            }
        }

    }
}
@media(min-width: 1440px) {
    .r-1 {
        left: -158px;
        top: 333px;
        width: 391px;
        height: 139px;
    }
    .r-2 {
        top:150%;
    }
    #Hero {
        .headLine {
            img {
                top: -190px;
                left: 99px;
                width: 537px;

            }

        }
    }
    #Projects {
        .img_wrap {
            width: 468px;
            height: 358px;
        }
        #Project_container {

            .project {
                width:fit-content;
            }
        }
    }
}
@media(min-width: 1500px) {
    #Hero {
        .skills {
            // grid-template-columns: 30% 30% 25%;
        }
    }
    #Contact {
        form{
            width:588px;
        }
    }
    #Projects{
        #Project_container {
            gap:0;
        }
        .img_wrap{
            width: 334px;
            height: 267px;
        }
    }
}
@media(min-width:1700px) {
    #Projects {
        .img_wrap{
            width: 395px;
            height: 293px;
        }
    }
}
@media(min-width:1900px) {
    #Projects {
        #Project_container {
            width: 94%;
        }
        .img_wrap {
            width: 407px;
            height: 308px;

        }
    }
}
@media(min-width:2200px) {
    #Projects {
        margin-top: 50px;;
        .Project_header {
            width: 91%;;
            h2 {
                margin:0;
            }
        }
        #Project_container {
            width:90%;
        }
        .img_wrap {
            width: 438px;
            height: 343px;
        }
    }
}