@use './style';
// @import "../node_modules/@coreui/coreui/scss/coreui";
@import '../../../node_modules/bootstrap/scss/bootstrap';
body {
    background-color: #18172C ;
    background:  none !important;
}
html {
    background-color: #18172C ;
}
.carousel {
    height: 100vh;
    width: 100vw;
    margin-bottom: 30px;
}
.carousel-item {
    // background-image: url("");
    height: 100%;
    position:relative;
    &::after {
        content: "";
        height:100%;
        width:100%;
        position: absolute;
        top:0;
        left: 0;
        background-color: #18172caf;
        z-index: 0;
    }
}
.carousel-inner {
    height: 100%;;
}
.carousel_content {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    height:100% !important;
    position: relative;
    
}
.content {
    position: absolute; 
    top:80%;
    left: 20px;
    color:white;
    font-weight: 500;
    z-index: 1;
    p {
        margin:0;
    }
    .media-title {
        font-size:1.3rem;
        margin:0;
        font-weight: 700;
    }
}
.ViewMore {
    @include style.flex();

    div {
        @include style.flex(row, center,center);
        color: white;
    }
}
#Dashboard {
    @include style.flex();
    height:fit-content;
    width:100vw;
    &:nth-child(2) {
        padding-bottom: 50px;
    }
    header{
        @include style.flex(row, center, space-between);
        width:100vw;
        // background-color: style.$Semi-dark-blue;
        height:15vh;
        position: fixed;
        padding: 0px 40px;
        z-index: 10;
        top:0;
        ul {
            padding: 0;
            list-style: none;
            li {
                display: inline;
                margin-right:25px;
                &:last-child {
                    margin:0;
                }
                
            }
        }
    
    }
    #Content {
        @include style.flex(column,center, flex-start);
        height: 90vh;
        width: 90vw;
        // padding: 0 20px;;
       
    }
    #Home {
        width: 100vw;
        height: 80%;
    }
    #trending {
        width: fit-content;
        height:fit-content;
    }
    .lists {
        @include style.flex(row, center, center);
        height:fit-content;
        width: 100%;
        gap:10px;
    }
    .recommends {
        padding-left: 30px;
        width: 100vw;
        height:fit-content;
        margin-bottom: 20px;
        overflow: hidden;
        color:white;
        
        .scroller {
            width:100vw;
            height:fit-content;
            overflow-x: scroll;
            overflow-y:hidden;
        }
        .lists {
            overflow-x: scroll;
            justify-content: flex-start;
            width:fit-content;
        }
    }
}
#CreateProfile{
    @include style.flex();
    background-color: style.$Dark-blue;
    height:100vh;
    width:100vw;
    #Creator_card {
        @include style.flex();
        width: 80%;
        height:90%;
        header {
            @include style.flex(row,center,center);
            height:10%;
            width:100%;
        }
        h1 {
            font-size:12px;
        }
       
        
    }
    #User_info {
        @include style.flex(column, center,flex-start);  
        gap:10px;
        height:80%;
        width:100%;
    }
    #Details{
        width:80%;
    }
    .form_group{
        width:100%;
        margin-bottom: 15px;;
    }
    input {
        background-color: transparent;
        border:none;
        border-bottom: 1px solid white;
        height:45px;
        width:100%;
        border-radius: 0;
        &:focus {
            outline: none;
        }
    }
    .create_profile {
        width:90% !important;
        height:50px;
    }
    
}
#TV, #Movie {
    #SearchBox {
        height: 40px;
        width:70%;
        border-radius: 30px;
        background-color: style.$Semi-dark-blue;
        padding-left:20px;
        input[name="search"] {
            border:none;
            background-color: transparent;
            height:100%;
            width:80%;
            font-size:16px;
            border-radius: 3px;
            &:focus-visible {
                outline : none;
            }
        }
        svg {
            width:14px;
            height:14px;
            margin-right:10px;
            color: white;
        }
        
    }
    .category_header {
        position: static;
        z-index: 0;
    }
}
.Trending_media {
    position: relative;
   background-size: cover;
   width: 218px;
   height: 129px;
   border-radius: 10px;
   padding:7px;
   &::after {
    content: "";
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.442);
    position: absolute;
    z-index: 1;
   
    }
}
.Media-content {
     @include style.flex(column, flex-start, center);
     width: 100%;
     height: 50px;
     position: absolute;
     top:60%;
     font-size:12px;
     img {
         width:15px;
         height: 15px;
     }
     p{
         font-weight: 400;
     }
     .media-title {
         font-size:16px;
     }
     z-index: 2;
 }
 .sub-content, .MediaType {
     @include style.flex(row, center,center);
 }
 .MediaType {
     gap:5px
 }
.sub-content{
 width:fit-content;
 gap:10px;
}
.RecommendedMedia {
    .bookmark , .trailer {
        cursor: pointer;
        transition: color ease 0.4s
    }
    .bookmark {
        &:hover{
            color: style.$Primary;
            transition: color ease 0.4s
        }
    }
}
.RecommendedMedia, .ViewMore {
    @include style.flex();
    .overview {
        overflow-y: scroll;
        height:100px;
    }
    width: 170px;
    height: 380px;
    gap:10px;
    .Image_wrap {
        height: 240px;
        width:100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .Content {
        @include style.flex();
        width:100%;
    }
    .Content-title {
        font-weight: 700;
        align-self: flex-start;
        margin:0;
    }
    .Content-detail {
        @include style.flex(row, center, space-between);
        width:100%;
        color:white;
    }
    .Content-action{
        @include style.flex();
        width:100%;

    }
    .bookmark, .trailer{
        @include style.flex(row, center, center);
        gap:10px;
        height:30px;
        width:100%;
        p {
            margin:0;

        }
        // width:fit-content;
    }
    .trailer {
        background: linear-gradient(#FF569D, #B556FF);
    }
}
.ViewMore {
    border:1px solid white;
    margin-right: 60px;
    div {
        @include style.flex(row, center,center);
        gap:10px;
    }
    p {margin:0}
}

.Specified_Type, #Movie, #TV {
    @include style.flex(column, flex-start, center);
    gap:20px;
    width:100%;
    height:100vh;
    color:white;
    overflow-y: scoll;
    h1 {
        padding-left:10px;
    }
    .category_header {
        width:100%;
    }
    .list_wrapper {
        @include style.flex();
        width: 100%;
        height: fit-content;
    }
    .lists {
        flex-direction: column;
        justify-content: flex-start;
        height: 50vh;
        gap:60px;
        width:100%;
    }
    .RecommendedMedia {
        width: 90%;
        height: fit-content;
        color:white;
    }
   
}
@media(min-width: 375px) {
    #CreateProfile{
        #User_info {
            gap:70px; 
        }
    }
    
}
@media(min-width: 768px) {
    #Movie, #TV {
        .category_header {
            width:94vw;
            justify-content: flex-start;
            gap:20px;
        }
        #SearchBox{
            width: 300px;
            
        }
    }
    #CreateProfile {
        #Creator_card {
            height: 80%;
            max-width:640px;
            label[for="selectFile"] {
                font-size: 0.9rem;
                font-weight: 500;
                width: 126px;
                height: 38px;
            }
        }
    }
    #Dashboard {
        .recommends {
            &:nth-child(1) {
                background-color: white;;
            }
            // padding-bottom: 90px;
        }
        .lists {
            gap: 23px;
        }
        #trending {
            margin-bottom: 90px;
        }
    }
    .content {
        left: 60px;
        .media-title {
            font-size:2.3rem;
        }
    }
    .Media-content p {
        font-weight: 400;
        font-size: 14px;
    }
    .Media-content .media-title {
        font-size: 20px;
    }
    .Specified_Type, #Movie, #TV {
        
        .lists {
            flex-direction: row;
            flex-wrap: wrap;
            // column-gap: 30px;
            width:85%;
        }
        .RecommendedMedia {

            width: 200px;
        }
    }
    .RecommendedMedia {
        width: 200px;
        height: 500px;
        .Content {
            height: 240px;;
        }
        .Image_wrap {
            height: 269px;
            margin-bottom: 14px;
        }
    }

}
@media(min-width: 835px) {
    .Specified_Type, #Movie, #TV {
        .lists {
            gap:53px;
        }
    }
}
@media (min-width: 1024px) {
   .carousel_content {
    background-position-y: -270px;
   } 
   .ViewMore {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    div {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        top:100%;
        left: 0; 
        transition: top ease 0.3s;
        z-index: 1;
    }
    &:hover {
        &::after{
            top:0;
            transition: top ease 0.3s;
        }
        div {
            color: style.$Semi-dark-blue;

        }
    }
   }
   .Specified_Type, #Movie, #TV {
    .lists {
        width: 100%;
        padding-left: 50px;
    }
    .RecommendedMedia {
        width: 174px;;
    }
   }
}
@media(min-width: 1440px) {
    #Movie, #TV {
        .category_header {

            padding-right:130px;
        }
        #SearchBox {
            width:20%;
        }
    }
    #Dashboard {
     
      
        #Content {
            width: 90%;
        }
      
    }
    .Specified_Type, #Movie, #TV {
        .lists {
            padding: 0;
        }
        
    }
    .RecommendedMedia {
        width: 240px ;
        height: 490px;
    }

}
@media(min-width: 1600px) {
    
    #Dashboard {
       
        .lists {
            padding-right: 220px;
        }
        
    }
    .content {
        .media-title{
            font-size: 4.3rem;;
        }
        p {
            font-size: 1.5rem;
        }
        
    }
    .Specified_Type, #Movie, #TV {
        .lists {
            padding:  0;;

        }

        .RecommendedMedia {
            width: 250px;
            .Image_wrap {
                height:370px;
            }
            .Content-action {
                flex-direction: row;
                justify-content: space-between;
            }
        }
       
    }
}
