@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  box-sizing: border-box;
}

.cta {
  width: 100px;
  height: 30px;
  background-color: #FF569D;
  border: none;
  color: white;
  font-weight: 500;
}

#Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-300%);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #272E6D;
  z-index: 2;
  transition: transform ease 0.4s;
}
#Menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 0;
  list-style: none;
}
#Menu ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
#Menu ul p {
  margin: 0;
  font-weight: 500;
}
#Menu ul .active {
  color: #FF569D !important;
}

.openMenu {
  transform: translateY(0) !important;
  transition: transform ease 0.4s;
}

.error_input {
  border-bottom: 1px solid #FF569D !important;
}

.hide_error {
  display: none !important;
}

.error_message {
  font-size: 12px;
  color: #FF569D;
  display: block;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Outfit";
  font-weight: 100;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("/Images/Landing.jpg");
  background-size: contain;
  position: relative;
}
main::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #192645;
  opacity: 0.8;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  position: absolute;
  z-index: 2;
  top: 20px;
}

#Logo {
  width: 30px;
  height: 30px;
}

#Heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 70vw;
  position: relative;
  z-index: 2;
}
#Heading h1 {
  font-weight: 500;
  font-size: 3.2rem;
}
#Heading p {
  line-height: 24px;
}
#Heading #register_cta {
  width: 126px;
  height: 39px;
  border-radius: 5px;
  font-weight: 400;
}

#Registrations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #18172C;
}
#Registrations #Register_header {
  justify-content: center !important;
  width: 100vw;
  height: 10vh;
}
#Registrations .Register_card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 327px;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 263px;
  width: 80vw;
  max-width: 393px;
  gap: 20px;
}
#Registrations .Register_card p {
  font-size: 14px;
}
#Registrations .Register_card .register_cta {
  width: 100%;
  height: 40px;
}
#Registrations .Register_card a {
  color: #FF569D;
}
#Registrations .form_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  gap: 5px;
}
#Registrations .form_group a {
  color: #FF569D;
  align-self: flex-end;
  font-size: 12px;
  font-weight: 400;
}
#Registrations input {
  border: none;
  border-bottom: 1px solid #5A698F;
  background-color: transparent;
  width: 100%;
  height: 37px;
}
#Registrations input:focus-visible {
  outline: none;
  border-bottom-color: #FFFFFF;
}

@media (min-width: 768px) {
  header {
    height: 6vh;
  }
  header img {
    width: 30px;
    height: auto;
  }
  #Heading h1 {
    font-size: 4rem;
  }
  #Heading p {
    font-size: 1.4rem;
    line-height: 2.1875rem;
    margin-bottom: 20px;
    max-width: 45%;
  }
  #Heading #register_cta {
    width: 146px;
    height: 49px;
    font-size: 1.1rem;
  }
}
@media (min-width: 2000px) {
  #Heading {
    max-width: 50%;
    align-self: flex-start;
    left: 10%;
  }
  #Heading h1 {
    font-size: 6rem;
  }
}/*# sourceMappingURL=style.css.map */