@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
$primay:#483EFF;
$accent-orange:#FFAF7E;
$accent-coral:#F9818E;
$secondary-black:#022959;
$teritary:#164A8A;
$sky-blue: #BEE2FD;
$background:#EFF5FF;
@mixin flex($dir: column, $align:center,$justify:center) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
}
* {
    box-sizing: border-box;
    font-family: Ubuntu;
}
html, body {
    margin:0;
    padding:0;
    height:fit-content;
    width:100vw;
}
body{
    background-color: $background;
}
// Overriding toggle button styling 
.slideon input:checked~.slideon-slider {
    background-color: #022959 !important;
}
.slideon-slider {
    background-color: #022959 !important;
    height: 20px !important;
    width: 38px !important;
    &::before {
        height: 18px !important;
        width: 18px !important;
    }
}
.checked_plan {
    background-color: #F8F9FF !important;
    border-color: $primay !important;
}
.show_btn {
    visibility: visible !important;
}
#desktop_main {
    display: none;

}
#mobile_main {
    @include flex(column, center,space-between);
    height:100vh;
    width:100%;

}
.step_no {
    @include flex();
    height:30px;
    width:30px;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
}
.current {
    background-color: #BEE2FD;
    border: none;
    color:$secondary-black;
}
.error {
    border: 1px solid red !important;
}
#mobile_header {
    @include flex(row, center,center);
    width:100%;
    height:30vh;
    background: url(../assets/images/bg-sidebar-mobile.svg);
    background-size: cover;
    gap:9px;
   
   
}
#Form{
    width:100%;
    height: 100%;
    .form_container {
        background-color: white;
        overflow:hidden;
        position:relative;
        top: -35px;
        left: 20px;
        width: 90%;;
        border-radius: 10px;
        padding:20px;
        height:450px;
    }
    form {
        @include flex(row, center,center);
        gap: 177px;
        transform: translateX(-1949px);
        height: fit-content;
        width:fit-content;
        transition: transform ease 0.4s;
    }
    form > div {
        @include flex(column, flex-start, center);
        gap:5px;
        height:fit-content;
        // width:270px;;
        width:310px;
    }
    .form_group {
        width:100%;
        input[type="text"], input[type="number"], input[type="email"] {
            border: 1px solid #D6D9E6;
            width:295px;
            height:40px;
            border-radius: 10px;
            &:focus {
                outline:none;
                border-color: $primay;
            }
        }
    }
    .title {
        margin-bottom: 20px;;
        h2 {
            font-size:24px;
        }
        p {
            font-size:16px;
            margin:0;
        }
    }
    .checkbox , .addons_checkbox {
        @include flex(row,center,center);

    }
    .addons {
        gap:10px;
    }
    .addons_checkbox {
        border-radius: 10px;
        justify-content: flex-start;
        gap: 15px;
        border: 1px solid #D6D9E6;
        padding: 0 14px;
        height:81px;
        cursor: pointer;
        input {
            order:1;
            // display: none;
            /* Add if not using autoprefixer */
            -webkit-appearance: none;
            appearance: none;
            /* For iOS < 15 to remove gradient background */
            background-color: #fff;
            /* Not removed via appearance */
            margin: 0;

            font: inherit;
            color: currentColor;
            width:20px;
            height:20px;
            border: 1px solid #D6D9E6;
            border-radius: 4px;
            transform: translateY(-0);

            display:grid;
            place-content: center;
            &::before {
                content: url(../assets/images/icon-checkmark.svg);
                width: 20px;
                height: 20px;
                transform: scale(0) translateX(4px);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--form-control-color);
            }
            &:checked {
                background-color: $primay;
                border:none;
                &::before {
                    transform: scale(1) translateX(4px);

                }
            }
        }
       
        .input_wrap {
            order:2;
            label{
                font-size: 14px;;
            }
            p {
                color: #9699AA;
                font-size: 12px;;
                font-weight: 200;
                margin:0;
                margin-top:8px;
            }
        }
        .addon_price{
            order:3;
            color:$primay;
            margin: 0;
            margin-left: 48px;
        }
    }
    .checkbox {
        gap:10px;
        .input_wrap {
            width:100%;
            input {
                visibility: hidden;
                position: absolute;
            }
            .price {
                margin:0;
            }
        }
    }
    .cycle {
        @include flex(row, center, space-between);
        width:100%;
        background-color: #F8F9FF;
        padding:9px;
    }
    .plan {
        gap:28px;
    }
    .finishing {
        height: 200px;
    }
    .overview {
        @include flex();
        width:100%;
        height:100%;
        border-radius: 10px;;
        background-color: #F8F9FF;
        gap:20px;
        padding:14px;
        div{
            width:100%;
        }
        p {
            margin:0;
            font-size:14px;
        }
    }
    .plan_wrap {
        p {
            &:nth-child(2) {
                color:#9699AA;
                text-decoration: underline;
            }
        }
    }
    .plan_cycle , .overview_addons {
        @include flex(row, center, space-between);
    }
    .overview_addons {
        color: #9699AA;
       margin-bottom: 10px;
       &:last-child {
        margin:0;
       }
        p {
            &:nth-child(2) {
                color: $secondary-black;
            }
        }
    }
    .final_page {
        img {
            width:53px;
            height: auto;
        }
        align-items: center;
        h4 {
            font-size:24px;
            margin:0;
        }
        p{
            font-size:14px;
            line-height: 20px;
            text-align: center;
            color: #9699AA;
        }
    }
}
#divider_line {
    width:100%;
    height:1px;
    background-color: #9699AA;
    opacity: 0.2;
}
#form_nav {
    @include flex(row, center, space-between);
    background-color:  white;
    width:100%;
    height:20vh;

    padding:0px 10px;
}
#nav_btn {
    height: 54px;
    width: 127px;
    border-radius: 10px;
    background-color: $secondary-black;
    border:none;
    color:white;
    font-size:14px;
}
@media(min-width:1024px ) {
    body{
        @include flex();
        height:100vh;
        width:100vw;

    }
    #section_title {
        @include flex(row, center,flex-start);
        width:2250px;
        list-style: none;
        gap:130px;
        padding:0;
    }
    .form_title{
        p{
            &:first-child {
                font-weight: 700;
                font-size:32px;
                margin:0;
            }
            &:nth-child(2) {
                color: #9699AA;
                font-size:16px;
            }
            margin-bottom: 0;
        }
    }
    #mobile_main {
        display:none;
    }
    #desktop_header {
        @include flex(column, flex-start,flex-start);
        background: url(../assets/images/bg-sidebar-desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -15px;
        border-radius: 20px;
        height: 100%;
        padding-top: 60px;
        width: 33%;
        gap: 30px;
        .steps {
            @include flex(row, center,flex-start);
            gap: 26px;
            position: relative;
            left: 15%;
            .step_number {
                color: #ABBCFF;
                font-size: 12px;
            }
            p {
                margin:0;
                 color: white;
            }
        }
    }
    #desktop_main {
        @include flex();
        width:100%;
        height: 100%;
        #container {
            @include flex(row, center,space-between);
            width:938px;
            background-color: white;
            height: 652px;
            padding:20px;

        }
    }
    #Form {
        width:62%;
        height: fit-content;
        .form_container {
            position:static;
            background-color: transparent;;
            height:fit-content;
            width:100%;
            height:100%;
        }
        form{
            height:60%;
            transform: translateX(0px);
            gap:321px;
            .form_group {
                width:100%;
                input[type="text"],input[type="email"] {
                    width:100%;
                }
            }
            .personal_form {
                gap:32px;
            }   
        }
        form > div {
            width: 490px;
        }
        .input_container {
            display:grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
            width:  100%;
            row-gap:20px;
            position:relative;
            top:40px;
            padding-bottom: 70px;
            height: fit-content;
            .checkbox {
                @include flex(column, flex-start,center);
                border:1px solid #D6D9E6;
                height: 200px;
                border-radius: 20px;
                padding: 20px;
                width: 149px;
                .price {
                    color:#9699AA;
                    font-size:14px;
                }
                cursor: pointer;
                img {
                    width:30px;
                    height:auto;
                }
                &:nth-child(1) {
                    grid-column: 1;
                    grid-row: 1;
                }
                &:nth-child(2) {
                    grid-column: 2;
                    grid-row: 1;
                }
                &:nth-child(3) {
                    grid-column: 3;
                    grid-row: 1;
                }
                input[type="checkbox"] {
                    &:checked .checkbox {
                        border-color: #483EFF;
                    }
                }
            }
            .cycle {
                grid-row: 2;
                grid-column: span 3;
                border-radius: 20px;
            }
        }
        .addons_checkbox {
            justify-content: space-between;
        }
        .desktop_plan_label {
            @include flex(row, center,center);
            gap:5px;
        }
        .total {
            @include flex(row, center,space-between);
            width:100%;
            #total {
                color:$primay;

                font-weight: bold;
            }
        }
        .final_page {
            img {
                width:80px;
                height:auto;
            }
            h4{
                margin-top:20px;
            }
            p {
                font-size: 16px;
                line-height: 25px;
                width: 68%;
                margin:0;
                font-weight: 400;
            }
        }
        .finishing {
            .form_title {
                margin-bottom: 70px;;
            }
        }
    }
    #form_nav {
        height:fit-content;
        padding:0 19px;
        // margin-top:80px;
        p {
            color:#9699AA;
            font-size:16px;
            font-weight: 600;
            visibility: hidden;
        }
        p {

            cursor: pointer;
        }
        #nav_btn {
            cursor: pointer;
            &:hover {
                background-color: $primay;
            }
        }
    }
    
}